<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Snapps Chatt</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="style.css") }}">
</head>
<body>
{% block page %}
{% endblock %}
<div id="footer">
    <a href="https://karspexet.se">
        <div>
            <img id="luva" alt="Kårspexet" src="{{ url_for("static", filename="luva.svg") }}">
        </div>
        <div>
            <img id="snaps" alt="Snaps chat" src="{{ url_for("static", filename="logo_2.png") }}">
        </div>
    </a>
</div>
</body>
</html>
