{% extends "base.html" %}
{% block page %}
<h1 class="title">{{song_title}}</h1>
<form id="questions" method="post">
    {% for question in questions %}
        <p>{{ question.question }}</p>
        <input class="slider" name="{{ question.id }}" type="range" min="0" max="10">
    {% endfor %}
    <div>
        <button id="submit-button" type="submit">Lämna in!</button>
    </div>
</form>
<script type="text/javascript" src="{{ url_for("static", filename="slider.js") }}"></script>
<script type="text/javascript" src="{{ url_for("static", filename="jquery.js") }}"></script>
{% endblock %}