h1 {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

#table-layout {
    align-content: center;
    margin: auto;
    padding: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}

button {
    margin: 1%;
    width: 30%;
    height: 10vw;
    background: #f14100;
    box-shadow: 0 8px 8px 2px rgba(176,176,176,1);
    border-radius: 10px;
    border: none;
    font-weight: bolder;
    color: #400006;
    font-size: 2em;
}

button:hover {
    box-shadow: 0 1px 2px 2px rgba(176,176,176,1);
    transform: translateY(4px)
}

#submit-button {
    margin-top: 15%;
    background: #f14100;
    box-shadow: 0 8px 8px 2px rgba(176,176,176,1);
    border-radius: 5px;
    border: none;
    color: #400006;
    width: 70%;
    height: 10vw;
    font-size: 2em;
}

#submit-button:hover {
    box-shadow: 0 1px 2px 2px rgba(176,176,176,1);
    transform: translateY(4px)
}

#questions {
    text-align: center;
}

table {
    width: 100%;
}

.slider {
    width: 70%;
    -webkit-appearance: none;
    height:30px;
    border-radius: 8px;
    background: #eadcd8;
    -webkit-transition: background 450ms;
    transition: background 450ms;

}

/* Change the Slider Button Color Here */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #ce2325;
    height:45px;
    width:45px;
    border-radius: 25px;
}

#footer {
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 30px;
    width: 500px;
    margin-left: -250px;
    margin-right: -250px;
    z-index: -10;
 }

#footer a, a:visited {
    color: black;
    text-decoration: none;
}

#snaps {
    width: 150px;
    border-radius: 25px;
}

#luva {
    width: 100px;
}

p {
    text-align: center;
    font-size: 36pt;
}

#lyrics-container {
    padding-left: 4%;
    padding-right: 4%;
}

#lyrics {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    white-space: pre-wrap;
    background: white;
    box-shadow: 0 8px 8px 4px rgba(176,176,176,1);
    padding: 25px 35px;
    border-radius: 25px;
}
